# Passenger Configuration
PassengerAppRoot "/home/ibnalbaladnews/bookstore.ibnalbaladnews.com"
PassengerBaseURI "/"
PassengerNodejs "/home/ibnalbaladnews/nodevenv/bookstore.ibnalbaladnews.com/20/bin/node"
PassengerAppType node
PassengerStartupFile server/index.js

# Block direct access to server folder
<Files "server/index.js">
    Order allow,deny
    Deny from all
</Files>

RewriteEngine On

# Universal fallback to root (SPA logic)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ / [QSA,L]
